<script
   src="https://code.jquery.com/jquery-3.5.1.js"
   integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous"></script>
<!-- Bootstrap core JavaScript-->
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/js/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="/css/datatables/jquery.dataTables.min.js"></script>
<script src="/css/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>
<script src="/js/qrcode.js"></script>
{{!-- <script src="qr-generator.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js'></script>
<script type='text/javascript'>(function(){emailjs.init('user_NoFcwBgkEKzAzkTAHTnci');})();</script> 

{{> _helper}}

{{!-- ADMINISTRATOR ACCOUNT IMAGE --}}
<script>
   const accountName = document.querySelector("#accountName").textContent;
   
   if(accountName === "John Anthony Bataller"){
       document.querySelector("#accountImage").innerHTML = `<img class="img-profile rounded-circle" src="/img/JABB.jpg">`;
   }
   
   if(accountName === "Michael Antoni"){
       document.querySelector("#accountImage").innerHTML = `<img class="img-profile rounded-circle" src="/img/MA.jpg">`;
   }
   
   if(accountName === "Jay Victor Gumboc"){
       document.querySelector("#accountImage").innerHTML = `<img class="img-profile rounded-circle" src="/img/JVG.jpg">`;
   }
   
   if(accountName === "Mary Chris Jasa"){
       document.querySelector("#accountImage").innerHTML = `<img class="img-profile rounded-circle" src="/img/MCJ.jpg">`;
   }
</script>


{{!-- CHANGE PASSWORD --}}
<script>
   const changePasswordForm = document.querySelector("#changePasswordForm");   
   const changePasswordClose = document.querySelector("#changePasswordClose"); 

   if (changePasswordClose) {
         changePasswordClose.addEventListener('click', async (e) => {
         e.preventDefault();
         
         document.querySelector("#currentPassword").value = "";
         document.querySelector("#newPassword").value = "";
         document.querySelector("#confirmPassword").value = "";
         $("#profileSettingsModal").modal("hide");
         });
   }

   if (changePasswordForm) {
         changePasswordForm.addEventListener('submit', async (e) => {
         e.preventDefault();
         
         const account_id = changePassword.getAttribute('data-account_id');

         // get input value 
         const currentPassword = changePasswordForm.currentPassword.value;
         const newPassword = changePasswordForm.newPassword.value;
         const confirmPassword = changePasswordForm.confirmPassword.value;

         
         try {
            if (currentPassword == "" || newPassword == "" || confirmPassword == "") {
               return alertMessage("error", "Please complete all input field.")
            }

            if (newPassword != confirmPassword) {
               return alertMessage("error", "The New password you entered and Confirm  new password doesn't match.")
            }

            const res = await fetch(`/change-password/${account_id}`, { 
            method: 'PUT', 
            body: JSON.stringify({currentPassword, newPassword}),
            headers: {'Content-Type': 'application/json'}
            });

            const data = await res.json();
            console.log(data);
            
            if (data.error) {
                  // if the current password input is incorrect this will trigger
               iziToast.error({
               title: data.error,
               position: "topCenter",
               timeout: 3000,  
               });
            }

            if (data.success) {
               // if the password is successfully update this will trigger
               iziToast.success({
               title: data.success,
               position: "topCenter",
               timeout: 2000,  
               });

               setTimeout(() => {
                  let = baseURl = 
                  location.assign("/logout");
               },2100)
            }
            }
         catch (err) {
            console.log(err);
         }
      });
   }

   // CONTACT US
   const contactUsForm = document.querySelector("#contactUsForm");
   if(contactUsForm){
      contactUsForm.addEventListener('submit', async (e) => {
      e.preventDefault();

      const title = document.querySelector("#c-title").value;
      const message = document.querySelector("#c-message").value;
      const accountName = document.querySelector('#accountName').textContent;

      let templateParams = {
         project: 'AMS QR code PLATFORM',
         to_name: 'johnanthonybataller.ce@gmail.com',
         subject: title,
         message: message,
         user: accountName
      };
      
      const spinner = `<button class="btn btn-primary btn-sm" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Sending...
                     </button>`;

      $('#sendEmailBtn').attr('disabled', 'disabled').html(spinner);

      emailjs.send('jdbt','AMS_QRcode', templateParams)
         .then(function(response) {
            $('#sendEmailBtn').removeAttr('disabled').html('Send');
            $('#contactModal').modal('hide');
            Swal.fire('Success', 'Your message has been sent successfully.', 'success')

            document.querySelector("#c-title").value = "";
            document.querySelector("#c-message").value = "";
         }, function(err) {
            $('#sendEmailBtn').removeAttr('disabled').html('Send');
            Swal.fire('Error', 'Server error.', 'error')

            document.querySelector("#c-title").value = "";
            document.querySelector("#c-message").value = "";
         });
      });
}
</script>




