<div class="modal fade" id="profileSettingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false"
         aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"> <i class="fa fa-user-cog"></i>  Profile Settings</h3>
      </div>
      <div class="modal-body">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-lock"></i> Change password</h5>
        <form>
          <div class="form-group">
            <label for="oldPassword" class="col-form-label">Old Password:</label>
            <input type="password" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="newPassword" class="col-form-label">New Password:</label>
            <input type="password" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="col-form-label">Confirm Password:</label>
            <input type="password" class="form-control" id="recipient-name">
          </div>
           
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">CONFIRM</button>
      </div>
    </div>
  </div>
</div>