<!-- Page Wrapper -->
<div id="wrapper">
<!-- Sidebar -->
<ul class="navbar-nav sidebarCustom sidebar sidebar-dark accordion" id="accordionSidebar">
   <!-- Sidebar - Brand -->
   <a class="sidebar-brand d-flex align-items-center justify-content-center disableClick" href="/admin">
      <img src="img/logo.png" width="50px" alt="">
      <div class="sidebar-brand-text mx-3"> COMPANY NAME</div>
   </a>
   <!-- Divider -->
   <hr class="sidebar-divider my-0">
   <!-- Nav Item - Dashboard -->
   <li class="nav-item active">
      <a class="nav-link" href="/admin">
      <i class="fas fa-fw fa-home"></i>
      <span>Dashboard</span></a>
   </li>
   <!-- Divider -->
   <hr class="sidebar-divider">
   <!-- Nav Item - Logs -->
   <li class="nav-item">   
      <a class="nav-link" href="/logs">
      <i class="fas fa-fw fa-clipboard"></i>
      <span>Logs</span></a>
   </li>
   <!-- Nav Item - User -->
   <li class="nav-item">   
      <a class="nav-link" href="/users">
      <i class="fas fa-fw fa-users"></i>
      <span>Users</span></a>
   </li>
   <!-- Nav Item - QR Code Test -->
   <li class="nav-item">   
      <a class="nav-link" href="/qrcode-tester">
      <i class="fas fa-fw fa-qrcode"></i>
      <span>QR Code Tester</span></a>
   </li>
   <!-- Nav Item - QR Code Test -->
   <li class="nav-item">   
      <a class="nav-link" href="/about">
      <i class="fas fa-fw fa-info-circle"></i>
      <span>About</span></a>
   </li>
   <!-- Sidebar Toggler (Sidebar) -->
   <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
   </div>
</ul>
<!-- End of Sidebar -->