<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
   <!-- Sidebar Toggle (Topbar) -->
   <button id="sidebarToggleTop" class="btn d-md-none rounded-circle mr-3 smallTopButtonstyle">
   <i class="fa fa-bars"></i>
   </button>
   <!-- Topbar Navbar -->
   <ul class="navbar-nav ml-auto">
      <!--                         
         <li class="nav-item dropdown no-arrow mx-1">
             <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fas fa-bell fa-fw"></i>
                 
                 <span class="badge badge-danger badge-counter">3+</span>
             </a>
             
             <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="alertsDropdown">
                 <h6 class="dropdown-header">
                     Alerts Center
                 </h6>
                 <a class="dropdown-item d-flex align-items-center" href="#">
                     <div class="mr-3">
                         <div class="icon-circle bg-primary">
                             <i class="fas fa-file-alt text-white"></i>
                         </div>
                     </div>
                     <div>
                         <div class="small text-gray-500">December 12, 2019</div>
                         <span class="font-weight-bold">A new monthly report is ready to download!</span>
                     </div>
                 </a>
                 <a class="dropdown-item d-flex align-items-center" href="#">
                     <div class="mr-3">
                         <div class="icon-circle bg-success">
                             <i class="fas fa-donate text-white"></i>
                         </div>
                     </div>
                     <div>
                         <div class="small text-gray-500">December 7, 2019</div>
                         $290.29 has been deposited into your account!
                     </div>
                 </a>
                 <a class="dropdown-item d-flex align-items-center" href="#">
                     <div class="mr-3">
                         <div class="icon-circle bg-warning">
                             <i class="fas fa-exclamation-triangle text-white"></i>
                         </div>
                     </div>
                     <div>
                         <div class="small text-gray-500">December 2, 2019</div>
                         Spending Alert: We've noticed unusually high spending for your account.
                     </div>
                 </a>
                 <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
             </div>
         </li> -->
      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
         <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true">
            <span class="mr-2 text-gray-600" id="accountName">{{account.name}}</span>
            <div id="accountImage"></div>
         </a>
         <!-- Dropdown - User Information -->
         <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="userDropdown">
            <a class="dropdown-item topDropdown" href="#" data-toggle="modal" data-target="#profileSettingsModal">
            <i class="fa fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i>
            Change Password
            </a>
            <a class="dropdown-item topDropdown" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
            </a>
         </div>
      </li>
   </ul>
</nav>

{{!-- Contact Us Modal --}}
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel"> <i class="fas fa-envelope"></i> Contact Us</h3>
         </div>
         <div class="modal-body">
            <form id="contactUsForm">
               <div class="form-group">
                  <label for="title" class="col-form-label">Subject:</label>
                  <input type="text" class="form-control"  name="title" id="c-title" autocomplete="off" required>
               </div>
               <div class="form-group">
                  <label for="message" class="col-form-label">Message:</label>
                  <textarea class="form-control" name="message" id="c-message" cols="30" rows="5" required></textarea>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" id="sendEmailBtn" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Send</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

{{!-- Change Password Modal --}}
<div class="modal fade" id="profileSettingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel"> <i class="fa fa-user-lock"></i> Change password</h3>
         </div>
         <div class="modal-body">
            <form id="changePasswordForm">
               <div class="form-group">
                  <label for="currentPassword" class="col-form-label">Current Password:</label>
                  <input type="password" class="form-control" name="currentPassword" id="currentPassword" placeholder="Type your Current password here" required>
               </div>
               <div class="form-group">
                  <label for="newPassword" class="col-form-label">New Password:</label>
                  <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Type your New password here" required>
               </div>
               <div class="form-group">
                  <label for="confirmPassword" class="col-form-label">Confirm New Password:</label>
                  <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Re-type your New password here" required>
               </div>
               <div class="modal-footer">
                  <button type="button" id="changePasswordClose" class="btn btn-secondary">Close</button>
                  <button type="submit" id="changePassword" class="btn btn-success" data-account_id={{account._id}} > <i class="fa fa-lock"></i> CONFIRM</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
            <!-- <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button> -->
        </div>
        <div class="modal-body">Are you sure you want to Logout?</div>
        <div class="modal-footer">
            <button class="btn btn-dark" type="button" data-dismiss="modal">NO</button>
            <a class="btn btn-danger" href="/logout">YES</a>
        </div>
    </div>
    </div>
</div>

<!-- End of Topbar -->