<!DOCTYPE html>
<html lang="en">
   <head>
    {{!-- partials header --}}
      {{> _header}}
   </head>
   <body id="page-top">

       {{!-- partials sidebar --}}
        {{> _sidebar}}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

        {{!-- partials topbar --}}
         {{> _topbar}}

               <!-- Begin Page Content -->
               <div class="container-fluid">
                  <!-- Page Heading -->
                  <h2>Logs</h2>
                  <!-- DataTales Example -->
                  <div class="card shadow mb-4">
                     <div class="card-body">
                        <div class="table-responsive">
                           <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                 <tr>
                                    <th>ID #</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Status</th>
                                    <th>Time-in</th>
                                    <th>Time-out</th>
                                    <th>Late</th>
                                    <th>Absent</th>
                                 </tr>
                              </thead>
                              <tfoot>
                                 <tr>
                                    <th>ID #</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Status</th>
                                    <th>Time-in</th>
                                    <th>Time-out</th>
                                    <th>Late</th>
                                    <th>Absent</th>
                                 </tr>
                              </tfoot>
                              <tbody>
                                 <tr>
                                    <td>14</td>
                                    <td>John Anthony Bataller</td>
                                    <td>Industrial Technology</td>
                                    <td>Acitve</td>
                                    <td>5:50 AM</td>
                                    <td>Active</td>
                                    <td>N.A</td>
                                    <td>N.A</td>
                                 </tr>
                                 <tr>
                                    <td>10</td>
                                    <td>Mary Chris Jasa</td>
                                    <td>Industrial Technology</td>
                                    <td>Active</td>
                                    <td>5:58 AM</td>
                                    <td>Active</td>
                                    <td>N.A</td>
                                    <td>N.A</td>
                                 </tr>
                                 <tr>
                                    <td>33</td>
                                    <td>Juan Dela Cruz</td>
                                    <td>Industrial Education</td>
                                    <td>Active</td>
                                    <td>6:13 AM</td>
                                    <td>Active</td>
                                    <td>13 mins</td>
                                    <td>N.A</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            {{!-- partials copyright --}}
            {{> _copyright}}

         </div>
         <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>

      {{!-- partials logout modal --}}
      {{> _logoutmodal}}

    {{!-- partials footer --}}
      {{> _footer}}
      
   </body>
</html>