<!DOCTYPE html>
<html lang="en">
   <head>
      {{!-- partials header --}}
      {{> _header}}
   </head>
   <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav sidebarCustom sidebar sidebar-dark accordion" id="accordionSidebar">
         <!-- Sidebar - Brand -->
         <a class="sidebar-brand d-flex align-items-center justify-content-center disableClick" href="/admin">
            <img src="/img/logo.png" width="50px" alt="">
            <div class="sidebar-brand-text mx-3"> COMPANY NAME</div>
         </a>
         <!-- Divider -->
         <hr class="sidebar-divider my-0">
         <!-- Nav Item - Dashboard -->
         <li class="nav-item">
            <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-home"></i>
            <span>Dashboard</span></a>
         </li>
         <!-- Divider -->
         <hr class="sidebar-divider">
         <!-- Nav Item - Logs -->
         <li class="nav-item">   
            <a class="nav-link" href="/logs">
            <i class="fas fa-fw fa-clipboard"></i>
            <span>Logs</span></a>
         </li>
         <!-- Nav Item - Users -->
         <li class="nav-item">   
            <a class="nav-link" href="/users">
            <i class="fas fa-fw fa-users"></i>
            <span>Users</span></a>
         </li>
         <!-- Nav Item - QR Code Test -->
         <li class="nav-item active">   
            <a class="nav-link" href="/qrcode-tester">
            <i class="fas fa-fw fa-qrcode"></i>
            <span>QR Code</span></a>
         </li>
         <!-- Nav Item - About -->
         <li class="nav-item">   
            <a class="nav-link" href="/about">
            <i class="fas fa-fw fa-info-circle"></i>
            <span>About</span></a>
         </li>
         <!-- Nav Item - Contact Us -->
            <li class="nav-item">   
               <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal">
               <i class="fas fa-envelope"></i>
               <span>Contact Us</span></a>
            </li>
         <!-- Sidebar Toggler (Sidebar) -->
         <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
         </div>
      </ul>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
         <!-- Main Content -->
         <div id="content">
            {{!-- partials topbar --}}
            {{> _topbar}}
            <!-- Begin Page Content -->
            <div class="container qrcode">
               <div class="row justify-content-center">
                  <div class="col-lg-6 ">
                     <div class="card border-bottom-dark">
                        <div class="card-body">
                           <div class="section text-center">
                              <div class="videoContainer">
                                 <video id="qr-video" width="640" height="360"></video>
                              </div>
                              <div class="form-group mt-5">
                                 <span class="spanStyle" id="cam-qr-result"></span>
                                 <!-- <i class="input-icon uil uil-qrcode-scan"></i> -->
                                 <!-- <b>Last detected at: </b>
                                    <span id="cam-qr-result-timestamp"></span>
                                    <br> -->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- End of Main Content -->
         </div>
         <!-- End of Content Wrapper -->
      </div>
      <!-- End of Page Wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      {{!-- partials footer --}}
      {{> _footer}}
      <script type="module">
         import QrScanner from "../js/qr-scanner.min.js";
         QrScanner.WORKER_PATH = '../js/qr-scanner-worker.min.js';
         
         const video = document.getElementById('qr-video');
         const camHasCamera = document.getElementById('cam-has-camera');
         const camHasFlash = document.getElementById('cam-has-flash');
         const flashToggle = document.getElementById('flash-toggle');
         const flashState = document.getElementById('flash-state');
         const camQrResult = document.getElementById('cam-qr-result');
         const camQrResultTimestamp = document.getElementById('cam-qr-result-timestamp');
         const fileSelector = document.getElementById('file-selector');
         const fileQrResult = document.getElementById('file-qr-result');
         
         function setResult(label, result) {
             label.textContent = result;
            //  camQrResultTimestamp.textContent = new Date().toString();
             label.style.color = 'black';
             clearTimeout(label.highlightTimeout);
             label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);
         }
         // ####### Web Cam Scanning #######
         QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);
         
         
         const scanner = new QrScanner(video, result => setResult(camQrResult, result), error => {
             camQrResult.textContent = error;
             camQrResult.style.color = 'inherit';
         });
         scanner.start().then(() => {
             scanner.hasFlash().then(hasFlash => {
                 camHasFlash.textContent = hasFlash;
                 if (hasFlash) {
                     flashToggle.style.display = 'inline-block';
                     flashToggle.addEventListener('click', () => {
                         scanner.toggleFlash().then(() => flashState.textContent = scanner.isFlashOn() ? 'on' : 'off');
                     });
                 }
             });
         });
      </script>
   </body>
</html>