<!DOCTYPE html>
<html lang="en">
   <head>
      {{!-- partials header --}}
      {{> _header}}
   </head>
   <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav sidebarCustom sidebar sidebar-dark accordion" id="accordionSidebar">
         <!-- Sidebar - Brand -->
         <a class="sidebar-brand d-flex align-items-center justify-content-center disableClick" href="/admin">
            <img src="/img/logo.png" width="50px" alt="">
            <div class="sidebar-brand-text mx-3"> COMPANY NAME</div>
         </a>
         <!-- Divider -->
         <hr class="sidebar-divider my-0">
         <!-- Nav Item - Dashboard -->
         <li class="nav-item">
            <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-home"></i>
            <span>Dashboard</span></a>
         </li>
         <!-- Divider -->
         <hr class="sidebar-divider">
         <!-- Nav Item - Logs -->
         <li class="nav-item">   
            <a class="nav-link" href="/logs">
            <i class="fas fa-fw fa-clipboard"></i>
            <span>Logs</span></a>
         </li>
         <!-- Nav Item - Users -->
         <li class="nav-item active">   
            <a class="nav-link" href="/users">
            <i class="fas fa-fw fa-users"></i>
            <span>Users</span></a>
         </li>
         <!-- Nav Item - QR Code Test -->
         <li class="nav-item">   
            <a class="nav-link" href="/qrcode-tester">
            <i class="fas fa-fw fa-qrcode"></i>
            <span>QR Code Tester</span></a>
         </li>
         <!-- Nav Item - About -->
         <li class="nav-item">   
            <a class="nav-link" href="/about">
            <i class="fas fa-fw fa-info-circle"></i>
            <span>About</span></a>
         </li>
         <!-- Nav Item - Contact Us -->
            <li class="nav-item">   
               <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal">
               <i class="fas fa-envelope"></i>
               <span>Contact Us</span></a>
            </li>
         <!-- Sidebar Toggler (Sidebar) -->
         <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
         </div>
      </ul>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
         <!-- Main Content -->
         <div id="content">
            {{!-- partials topbar --}}
            {{> _topbar}}
            <!-- Begin Page Content -->
            <div class="container-fluid">
               <form id="registerNewUserForm">
                  <div class="row justify-content-center">
                     <!-- Border Left Utilities -->
                     <div class="col-lg-8">
                        <a class="btn btn-secondary mb-3" href="/users" role="button"> <i class="fas fa-arrow-left"></i></a>
                        <div class="card my-1 mb-5 border-left-secondary">
                           <div class="card-header">
                              <h4 class="mt-2"> <i class="fas fa-user-plus fa-sm"></i> Register New User</h4>
                           </div>
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-lg-6">
                                    <div class="form-group">
                                       <label for="exampleInputEmail1">First Name</label>
                                       <input type="text" class="form-control capitalize" name="firstname" id="firstname" pattern="[A-Za-z ]{0,}" title="Only Alphabets" aria-describedby="FirstName" autocomplete="off" maxlength="50" required>
                                    </div>
                                    <div class="form-group">
                                       <label>Middle Name</label>
                                       <input  type="text" class="form-control capitalize" name="middlename" id="middlename"  pattern="[A-Za-z ]{0,}" title="Only Alphabets" maxlength="25" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                       <label>Last Name</label>
                                       <input type="text" class="form-control capitalize" name="lastname" id="lastname" pattern="[A-Za-z ]{0,}" title="Only Alphabets" maxlength="25" autocomplete="off" required>
                                    </div>
                                    <div class="row">
                                       <div class="col-lg-6">
                                          <div class="form-group">
                                             <label class="pb-1">Gender</label><br>
                                             <label class="radio-inline pl-4">
                                             <input type="radio" name="gender" value="male" required
                                                > Male
                                             </label>
                                             <label class="radio-inline pl-4">
                                             <input type="radio" name="gender" value="female" required
                                                > Female
                                             </label>
                                          </div>
                                       </div>
                                       <div class="col-lg-6">
                                          <div class="form-group">
                                             <label>Age</label>
                                             <input type="number" class="form-control" name="age" id="age" onkeydown="javascript: return event.keyCode == 69 ? false : true && event.keyCode == 189 ? false : true && event.keyCode == 109 ? false : true && event.keyCode == 107 ? false : true && event.keyCode == 187 ? false : true && event.keyCode == 190 ? false : true && event.keyCode == 110 ? false : true"  min="18" max="60" autocomplete="off" required>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-6">
                                    <div class="row">
                                       <div class="col-lg-6">
                                          <div class="form-group">
                                             <label>Birthdate</label>
                                             <input type="date" class="form-control" name="birthdate" id="birthdate" required>
                                          </div>
                                       </div>
                                       <div class="col-lg-6">
                                          <div class="form-group">
                                             <label>Contact Number</label>
                                             <input type="number" class="form-control" name="contact_number" id="contactnumber" onkeydown="javascript: return event.keyCode == 69 ? false : true && event.keyCode == 189 ? false : true && event.keyCode == 109 ? false : true && event.keyCode == 107 ? false : true && event.keyCode == 187 ? false : true && event.keyCode == 190 ? false : true && event.keyCode == 110 ? false : true"  maxlength="15" autocomplete="off" required>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="form-group">
                                       <label>Email Address</label>
                                       <input type="email" class="form-control" name="email_address" id="email" autocomplete="off" required>
                                    </div>
                                    <div class="form-group">
                                       <label>Home Address</label>
                                       <textarea class="form-control capitalize" name="home_address" id="home_address" rows="4" maxlength="150" autocomplete="off" required
                                          oninvalid="this.setCustomValidity('Please Enter your Address here')"
                                          oninput="this.setCustomValidity('')"></textarea>
                                    </div>
                                 </div>
                              </div>
                              <hr>
                              <div class="row">
                                 <div class="col-lg-4">
                                    <div class="form-group">
                                       <label>ID Number</label>
                                       <input type="number" class="form-control" name="idnumber" id="idnumber" onkeydown="javascript: return event.keyCode == 69 ? false : true && event.keyCode == 189 ? false : true && event.keyCode == 109 ? false : true && event.keyCode == 107 ? false : true && event.keyCode == 187 ? false : true && event.keyCode == 190 ? false : true && event.keyCode == 110 ? false : true"  aria-describedby="idnumber" required>
                                    </div>
                                 </div>
                                 <div class="col-lg-4">
                                    <div class="form-group">
                                       <label for="exampleInputEmail1">Department</label>
                                       <select class="form-control" name="department" id="department" required>
                                          <option value="">choose Department</option>
                                          <option value="1">Industrial Technology</option>
                                          <option value="2">Industrial Education</option>
                                          <option value="3">Electrical Engineering Technology</option>
                                          <option value="4">Civil Engineering Technology</option>
                                          <option value="5">Computer Science</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-lg-4">
                                    <div class="form-group">
                                       <label for="exampleInputEmail1">Shift</label>
                                       <select class="form-control" name="shift" id="shift" required>
                                          <option value="">choose Shift</option>
                                          <option value="day">Day</option>
                                          <option value="night">Night</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <div class="form-group mt-3">
                                       <button class="btn btn-success" type="submit"> <i class="fas fa-fw fa-check"></i> CONFIRM</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
               </form>
               </div>
            </div>
            <!-- End of Main Content -->
         </div>
         <!-- End of Content Wrapper -->
      </div>
      <!-- End of Page Wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      {{!-- partials footer --}}
      {{> _footer}}
      <script>
         // MAXIMUM DATE INPUT IS TODAY
         birthdate.max = new Date().toISOString().split("T")[0]
      </script>   
      <script>
         const form = document.querySelector("#registerNewUserForm");
         
         form.addEventListener('submit', async (e) => {
            e.preventDefault();
         
            // get values
            const firstname = form.firstname.value;
            const middlename = form.middlename.value;
            const lastname = form.lastname.value;
            const gender = form.gender.value;
            const age = form.age.value;
            const birthdate = form.birthdate.value;
            const number = form.contact_number.value;
            const email_address = form.email_address.value;
            const home_address = form.home_address.value;
            const idnumber = form.idnumber.value;
            const department = form.department.value;
            const shift = form.shift.value;

            const contact_number = `0${number}`;
            
            try {
               const res = await fetch('/register-qrcode', { 
               method: 'POST', 
               body: JSON.stringify({ firstname, middlename, lastname, gender, age, birthdate, contact_number, email_address, home_address, idnumber, department, shift }),
               headers: {'Content-Type': 'application/json'}
               });
               const data = await res.json();
               console.log(data);
               
               // if the login inputs is incorrect this will trigger
               if (data.errors) {
                  iziToast.error({
                  title: data.errors,
                  position: "topCenter",
                  timeout: 3000,  
                  });
               }
               else{
                  let = baseURl = 
                  location.assign(`/qrcode/${data.user._id}`);
               }
               }
            catch (err) {
               console.log(err);
            }
         });
      </script>
   </body>
</html>