a:hover{
  text-decoration: none;
}

.sidebarCustom{
  background-color: #222831 !important;
}

.videoContainer{
    width: 250px;
    text-align: center;
    overflow: hidden;
   margin: auto;
    height: 250px;
  }
  #qr-video{
    margin-left: -210px;
    margin-top: -50px;
  }
  
  .QRcodeImage{
    margin: auto;
    height: 300px !important;
    width: 300px !important;;
    padding: 10px;
  }
  
  .centerStyle{
    text-align: center;
    margin: 0%;
    padding: 0%;
  }
  
  .aboutfooter{
    margin-top: 7%;
  }
  .testerfooter{
    margin-top: 6%;
  }
  
  .marginauto{
    margin: auto;
  }

.btn-update{
  display: none;
}

#deleteBtn{
  float: right;
  display: block;
  
}

.disableClick{
  pointer-events: none;
}

.iconWhite{
  color: white;
}

.font{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size:15px !important;
}

.page-item.active .page-link
  {
    z-index: 3;
    color: #fff;
    background-color: #5a5c69 !important;
    border-color: #5a5c69 !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.smallTopButtonstyle{
  background-color: #5a5c69 !important;
  color: white !important;
}

.topDropdown:active {      
  background-color: #5a5c69 !important;
}

.infoLink{
  color: #36b8cc9d ;
}
.infoLink:hover{
  color: #36b9cc ;
}

/* a:hover{
  text-decoration: none;
} */